@CHARSET "US-ASCII";
body {
	font-family: "verdana";
}

#headingLogin {
	color: white;
}

#formAddExp {
	
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 50px;
	border: solid;
	

}

.form-group {
	margin: 20px;
}

#addExpButton {
	margin: 20px;
	
}

#resetFields {
	margin: 20px;
}

#tableGroup{
	
	
	
}