@CHARSET "US-ASCII";

#formLogin {
	margin-top: 50px;
}

.form-group {
	margin: 20px;
}

#formElements {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 50px;
	border: solid;
}

#submitButton {
	margin: 20px;
	
}

#signupButton {
	margin: 20px;
}

#headingLogin {
	color: white;
}

body {
	font-family: "verdana";
}

#errorMsg {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	color: red;
	margin-top: 20px;
}